
  	<%- include header %>
		<p>登录页</p>
		<form method="post">
			<label>用户名：</label>
			<input type="text" name="name" />
			
			<label>密码：</label>
			<input type="password" name="password" />
			
			<input type="submit" value="提交" />
		</form>
  	<%- include footer %>