<%- include header %>


<form method="post">
	<br/><br/>
	<label for="">标题：</label><input type="text" name="title" id="" value=""/>
		<br/><br/>
	<textarea name="post" rows="20" cols="100"></textarea>
		<br>
	<input type="submit" value="发布"/>
</form>

<%- include footer %>
